.logo {
  display: inline-block;
}

.logoImage {
  width: 100%;
  height: auto;
  display: block;
}

.small .logoImage {
  max-width: 180px;
  height: auto;
}

.medium .logoImage {
  max-width: 280px;
  height: auto;
}

.large .logoImage {
  max-width: 400px;
  height: auto;
}

@media (max-width: 768px) {
  .small .logoImage {
    max-width: 150px;
  }
  
  .medium .logoImage {
    max-width: 220px;
  }
  
  .large .logoImage {
    max-width: 300px;
  }
}

